# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
packages/
*.snupkg

# DotCover
*.dotCover

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Others
*.vspscc
*.vssscc
_ReSharper*/
*.resharper
*.dbmdl
*.pdb

# IIS Express
/.vs/

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Publish
publish/
*.publishsettings

# Entity Framework
Migrations/

# Rider
.idea/